# Dependency directories
node_modules/
jspm_packages/

# Debug and system logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bv-install-log.txt

# Operating System files (Windows & macOS)
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary, build and test files
scratch/
temp/
tmp/
*.tgz
*.zip
